@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Fira Sans", sans-serif;
}
.anh {
    width: 12%;
  
    margin-left: 160px;
    background-color: white;
    height: 50px;
   
  }

.menu{
    
}
.hmenu {
  list-style: none;
  background-color: rgb(10, 77, 10);
  text-align: center;

}


.hmenu > li {
  display: inline-block;
  margin: 0px 20px ;
 
  position: relative;
}
.hmenu > li > a {
  text-decoration: none;
  font-size: 15pt;
  color: white;
  display: block;
  padding: 10px;
}
.hmenu > li:hover > a {
  background-color: #069219;
  color: rgb(4, 14, 11);
  font-weight: bold;
}
.hmenu > li:hover .smenu {
  display: block;
}
.smenu {
  list-style: none;

  position: absolute;
  top: 40px;
  left: 0px;
  width: 300px;
  background-color: rgb(247, 247, 247);
  padding: 10px 20px;
  display: none;
  z-index: 100;
}
.smenu > li {
  display: block;
  border-bottom: 1px solid rgb(15, 131, 21);
}
.smenu > li > a {
  font-size: 1.2em;
  text-decoration: none;
  color: rgb(36, 33, 33);
  display: block;
  padding: 10px 5px;
}
.smenu > li:hover a {
  background-color: rgb(10, 77, 10);
  color: #fff;
  font-weight: bold;
}




.dau {
    
  height: 50px;
  background-color: rgb(10, 77, 10);
  position: relative;
}
.sreach {
  position: absolute;
  right: 18px;
  top: 6px;
}
.sreach i {
  font-size: 42px;
}
.hotline {
  position: absolute;
  right: 280px;
  top: 15px;
  font-size: 13pt;
  font-weight: bold;
  color: red;
}
.hotline p:hover {
  color: white;
}
.heading {
  font-size: 27px;
  margin-top: 0px;
  color: rgb(238, 245, 238);
  letter-spacing: 1px;
  text-align: center;
}
.chen{
  position: relative;
}

.chen img{
  width: 100%;
  height: 860px;
  
}

.sign-up {
 
 top: 0.5%;
 right: 50px;
position: absolute;
  width: 30%;
  margin: 0 auto;
  background: rgb(32, 97, 37);
  padding: 20px 10px;
 
}

.sign-up h3 {
  color: white;
  text-align: center;
}
.sign-up textarea,
.sign-up input[type="text"] {
  display: block;
  padding: 10px 5px;
  width: 100%;
  margin: 20px 0;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(62, 204, 230);
}
.sign-up button {
  padding: 10px 15px;
  background: rgb(32, 190, 190);
  color: #fff;
  font-weight: bold;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(8, 253, 200);
  color: black;
  cursor: progress;
}

footer {
  margin-top: 20px;
  width: 100%;
  float: left;
  height: 500px;
  background: rgb(224, 228, 228);
}
.cuoi {
  position: relative;
}
.logo {
  width: 18%;
  position: absolute;
  left: 200px;
  top: 90px;
}
.lienhe {
  position: absolute;
  font-size: 12pt;
 
  color: rgb(99, 97, 97);
  top: 90px;
  left: 51%;
}
.lienhe p:hover {
  color: rgb(52, 240, 52);
}
.truong {
  position: absolute;
  left: 210px;
  top: 180px;
}
.truong > p {
  font-size: 11pt;

  color: rgb(99, 97, 97);
}
.icon {
  position: absolute;

  left: 210px;
  top: 230px;
}
.icon > i {
  font-size: 50px;
}

input[type="text"] {
  float: right;
  padding: 7px;
  margin-top: 8px;
  margin-right: 54px;
  border: none;
  font-size: 17px;
}


.banner{
  height: auto;
  position: relative;
  
}
.banner>img{
    width: 100%;
   height: 390px;
   margin-bottom:0px;
}
.nen{
  font-size: 45pt;
  height: 50px;
  position:absolute;
  left: 43%;
  top: 38%;
  font-weight: bold;
  color: #fff;
}

.giua{
width: 80%;
margin: auto;
margin-top: 500px;

}

.giua i{
 font-size: 10px;
}
.giua p{
  text-align: justify;
  width: 75%;
  font-size: 13pt;
  color: rgb(68, 67, 67);
  margin-left: 200px;
}
.giua a:hover{
  color: rgb(61, 46, 46);
  font-weight: bold;
}
 h3{
  font-size: 26pt;
  font-weight: bold;
  margin-top: 30px;

}
h5{
  font-size: 15pt;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 60px;
}

.trove{
  margin-top: 20px;
  margin-bottom: 60px;
}
.trove a{
  font-size:10pt ;
  color: rgb(85, 83, 83);
  text-decoration: none;
 
}
.allgallery{
  margin:0 auto ;
  width: 80%;
}
.gallery{
  float: left;
  width: 20%;
  margin:0 28px ;
  margin-top: 40px;
}
